.about-me-container {
  margin-top: 160px;

  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 1071px;
  overflow-x: hidden;
}
.background-image {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.about-me-title {
  margin-top: 72px;
  font-size: 64px;
  font-weight: 600;
  line-height: 67.2px;
  text-align: left;
  color: white;
}

.middle-container {
  margin-top: 274px;
  width: 100%;
}

.traits-container {
  border-radius: 60px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin-left: 157px;
  margin-right: 157px;
  padding: 40px 122.48px 60px 122.48px;
}
.traits-container .percentage {
  font-size: 64px;
  font-weight: 700;
  line-height: 67.2px;
  text-align: left;
  width: 164px;
  color: rgba(27, 28, 55, 1);
}
.traits-container .trait {
  font-size: 36px;
  font-weight: 600;
  line-height: 37.8px;
  text-align: left;
  color: rgba(95, 96, 115, 1);
}

.traits-container .trait-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.small-container img {
  width: 118px;
  height: 118px;
}

.ethnicity-container {
  position: absolute;
  width: 324px;
  height: 443px;
  top: 243px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 60px;
  background: linear-gradient(90deg, #b224ef 0%, #7579ff 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.ethnicity-percentage {
  margin-top: 198px;
  font-size: 64px;
  font-weight: 700;
  line-height: 67.2px;
  text-align: left;
  color: white;
}
.ethnicity-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 37.8px;
  text-align: left;
  color: white;
}

.ethnicity-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 120px;
  align-items: center;
}

.relative-container {
  position: relative;
  width: 100%;
  height: 680.6px;
}

.mask-group {
  width: 324px;
  height: 223px;
  position: absolute;
}

.tablet-background {
  display: none;
  height: 710.74px;
}

.about-highlight {
  right: 45.57px;
  top: 252px;
}
.about-dots-1 {
  top: 243px;
}

.about-dots-2 {
  right: 0px;
  top: 828px;
}

.dots-full-1 {
  display: none;
}
.dots-full-2 {
  display: none;
}

.about-ellipse {
  right: 0px;
  top: 815px;
}

@media only screen and (max-width: 1245px) {
  .about-me-container {
    height: 710.74px;
  }
  .ethnicity-container {
    width: 182.64px;
    height: 249.3px;
    border-radius: 33.82px;
    top: 197px;
  }
  .ethnicity-container img {
    width: 182.64px;
    height: 125.7px;
  }
  .ethnicity-percentage {
    font-size: 36.08px;
    margin-top: 111px;
  }
  .ethnicity-title {
    font-size: 20.29px;
    font-weight: 600;
    line-height: 21.31px;
    text-align: left;
  }
  .ethnicity-text {
    gap: 11px;
  }
  .traits-container {
    padding: 22.55px 68px 33.82px 68px;
    margin-left: 70px;
    margin-right: 70px;
  }

  .traits-container .trait-container {
    gap: 11px;
    align-items: center;
  }
  .trait-container img {
    width: 66.52px;
    height: 66.52px;
  }
  .trait-container .percentage {
    font-size: 36.08px;
    text-align: center;
  }
  .trait-container .trait {
    font-size: 20.29px;
  }
  .middle-container {
    margin-top: 140px;
  }
  .desktop-background {
    height: 710.74px;
  }
  .about-highlight {
    width: 100px;
    height: 100px;
    top: 200px;
    right: 10px;
  }
  .about-dots-1 {
    width: 93.08px;
    height: 44.53px;
    top: 184px;
    left: -20px;
  }

  .about-dots-2 {
    right: -60px;
    top: 550px;
    width: 112.64px;
    height: 53.89px;
  }
  .about-ellipse {
    display: none;
  }
}

@media only screen and (max-width: 756px) {
  .about-me-title {
    font-size: 24px;
    margin-top: 31px;
    line-height: 25.2px;
  }
  .desktop-background {
    height: 307.2px;
  }
  .about-me-container {
    height: 307.2px;
    margin-top: 61px;
  }
  .trait-container img {
    width: 35.66px;
    height: 35.66px;
  }
  .middle-container {
    margin-top: 35px;
  }
  .traits-container {
    border-radius: 18.13px;
  }
  .ethnicity-container {
    top: 71px;
    width: 97.91px;
    height: 133.38px;
    border-radius: 18.13px;
  }
  .ethnicity-container img {
    width: 97.91px;
    height: 67.39px;
  }
  .ethnicity-percentage {
    font-size: 19.34px;
    font-weight: 700;
    line-height: 20.31px;
    text-align: left;
    margin-top: 62px;
  }
  .ethnicity-title {
    font-size: 10.88px;
    font-weight: 600;
    line-height: 11.42px;
    text-align: left;
  }
  .ethnicity-text {
    gap: 6px;
  }
  .trait-container .percentage {
    font-size: 19.34px;
    text-align: center;
    line-height: 20.31px;
  }
  .trait-container .trait {
    text-align: center;
    font-size: 10.88px;
    line-height: 11.42px;
  }
  .traits-container .trait-container {
    width: 78px;
    gap: 8px;
  }

  .about-highlight {
    width: 36.27px;
    height: 22.17px;
    top: 70px;
    right: 5px;
  }

  .about-dots-1 {
    display: none;
  }

  .about-dots-2 {
    display: none;
  }
  .dots-full-1 {
    display: block;
    left: 11.35px;
    top: 65px;
  }
  .dots-full-2 {
    display: block;
    right: 4.65px;
    top: 254px;
  }
}

@media only screen and (max-width: 756px) {
  .traits-container {
    margin: 0px 24px;
    padding: 15px 39px 18px 39px;
  }
}
