.about-me-container {
  margin-top: 160px;

  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 1071px;
}
.background-image {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1071px;
}

.about-me-title {
  margin-top: 72px;
  font-size: 64px;
  font-weight: 600;
  line-height: 67.2px;
  text-align: left;
  color: white;
}

.middle-container {
  margin-top: 274px;
}

.traits-container {
  width: 1198.96px;
  height: 363px;
  border-radius: 60px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.traits-container .percentage {
  font-size: 64px;
  font-weight: 700;
  line-height: 67.2px;
  text-align: left;
  width: 164px;
  color: rgba(27, 28, 55, 1);
}
.traits-container .trait {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  line-height: 37.8px;
  text-align: left;
  color: rgba(95, 96, 115, 1);
}

.traits-container .trait-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

.traits-container .left-trait {
  margin-left: 122.48px;
}
.traits-container .right-trait {
  margin-right: 122.48px;
}

.small-container img {
  width: 118px;
  height: 118px;
}

.ethnicity-container {
  position: absolute;
  width: 324px;
  height: 443px;
  top: 243px;
  left: 50%; /* Position the left edge of the element in the middle of the container */
  transform: translateX(-50%);
  border-radius: 60px;
  background: linear-gradient(90deg, #b224ef 0%, #7579ff 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}
.ethnicity-percentage {
  font-size: 64px;
  font-weight: 700;
  line-height: 67.2px;
  text-align: left;
  color: white;
}
.ethnicity-title {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  line-height: 37.8px;
  text-align: left;
  color: white;
}
.vector-images {
  position: relative;
}
.vector-images .vector9,
.vector-images .vector8 {
  position: absolute;
  top: 0px;
  left: 0px;
}
.ethinicity-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 120px;
  align-items: center;
}

.relative-container {
  position: relative;
  width: 100%;
  height: 680.6px;
}
