.effect {
  position: absolute;
}
.navbar-ellipse {
  z-index: -1;
  right: 49px;
}
.hero-ellipse {
  top: 238px;
}
.skill-ellipse {
  top: 1000px;
  right: 0;
}
.hero-dots {
  top: 203px;
  right: 0px;
}

@media only screen and (max-width: 834px) {
  .hero-dots,
  .dots-2 {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .navbar-ellipse,
  .hero-ellipse,
  .skill-ellipse {
    display: none;
  }
}
