.footer {
  height: 171px;
  background-color: #edeeff;
  border-radius: 60px 60px 0px 0px;
  padding-top: 39px;
}
.icons {
  display: flex;
  justify-content: center;
  gap: 45px;
}
.icons img {
  width: 40px;
  height: 40px;
}

.copyright-text {
  margin-top: 49px;
  text-align: center;
  font-weight: 500;
  color: #5f6073;
}
