.footer {
  height: 171px;
  background-color: #edeeff;
  border-radius: 60px 60px 0px 0px;
}
.icons {
  display: flex;

  justify-content: center;
  align-items: flex-end;
  height: 50%;
  gap: 15px;
}

.copyright-text {
  margin-top: 15px;
  text-align: center;
  font-weight: 500;
}
