.intro-name {
  font-size: 96px;
  font-weight: 600;
  line-height: 100.8px;
  text-align: left;
  margin-top: 78px;
  width: 648px;
  padding-top: 30px;
  color: #1b1c37;
}
.hero-container {
  margin-top: 70px;
  position: relative;
}
.name-container {
  position: relative;
}
.highlight {
  position: absolute;
  top: 0px;
  left: 331px;
  gap: 0px;
  opacity: 0px;
}

.user-biography {
  margin-top: 55px;
  width: 375px;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-align: left;
}

.hero-contact-button {
  margin-top: 56px;
  width: 286px;
  height: 68px;
  justify-content: center;
  border-radius: 16px;
  background: linear-gradient(90deg, #b224ef 0%, #7579ff 100%);

  border: none;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-background-container {
  display: flex;
  justify-content: end;
  position: absolute;
  height: 621px;
  width: 100%;
}

.hero-background {
  z-index: -1;
}

.arrow {
  width: 187px;
  height: 187px;
  top: 480px;
  left: 320px;
  /* padding: 33.74px 0px 34.13px 0px; */
  position: absolute;
}

.hero-info-container {
  position: relative;
  top: 78px;
}

@media only screen and (max-width: 900px) {
  .hero-background {
    display: none;
  }
  .hero-background-container {
    display: none;
  }
}

@media only screen and (max-width: 756px) {
  .intro-name {
    font-size: 55.21px;
  }
  .hero-container {
    margin-top: 0px;
    height: 100%;
  }
  .hero-info-container {
    top: 0px;
    padding-left: 10px;
  }
  .intro-name {
    width: 372.66px;
    padding: 0px;
    margin-top: 62.8px;
    line-height: 57.97px;
  }
  .arrow {
    width: 138px;
    height: 138px;

    top: 300px;
    left: 180px;
  }

  .hero-contact-button {
    width: 164.21px;
    height: 39.4px;
    border-radius: 9.2px;
    font-size: 13.8px;
    line-height: 20.7px;
  }
  .hero-contact-button img {
    width: 14.95px;
    height: 14.95px;
  }
  .highlight {
    width: 38.55px;
    height: 42.23px;
    left: 190px;
    top: -17px;
  }
}
