.portfolio {
  margin: 0px 100px;
  position: relative;
}

.portfolio-title-text {
  width: 270px;
  height: 67px;
  top: -70px;
  position: absolute;
}
.portfolio-underline {
  position: absolute;
  top: -8px;
  left: 90px;

  gap: 0px;
  opacity: 0px;
}
