.app {
  padding: 99px 100px 0px 100px;
}

.title-text {
  font-size: 64px;
  font-weight: 600;
  line-height: 67.2px;
  text-align: left;
  background: linear-gradient(90deg, #b224ef 0%, #7579ff 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  align-self: flex-end;
}

.gray-line {
  border: 2px solid rgba(237, 238, 255, 1);
  margin-top: 61px;
  margin-bottom: 42px;
}

.gradient-text {
  background: linear-gradient(90deg, #b224ef 0%, #7579ff 100%);

  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media only screen and (max-width: 756px) {
  .app {
    padding: 44px 22px 0px 22px;
  }
}

@media only screen and (max-width: 510px) {
  .gray-line {
    margin-top: 44px;
    margin-bottom: 23.5px;
  }
}
